body{
	font-family: Arial;
	font-weight: 300;
	color:#555;
	}
	table{
		border-collapse: collapse;
	}
	th{
		text-align: center;
		padding: 10px 10px;
		background: #01A1FE;
		color:#fff;
		height:10px;
		line-height: 10px;
		font-size: 16px;
		font-weight: normal;
	}
	td p{
		margin: 5px 10px 5px 10px;
	}
	td h3{
		margin: 10px;
	}
	tr img{
		margin:5px;
	}
	.header{
		text-align: right;
		padding-right: 35px;
		font-size: 16px;
		font-weight: normal;
		cursor: hand;
	}
	.clickToView {
		text-align: right;
		padding-right: 35px;
		font-size: 16px;
		font-weight: normal;
		cursor: hand;		
	}
	.dnldsFldr{
	  border:none;
	  width:100%;
	  padding-right: 30px;
	  text-align: left;
	  color:#4E4E4E;
	}
	.hyperlinks {
		font-size: 16px;
	}
    .sortable div {
      cursor: pointer; cursor: hand;
    }
    .sortable th{
            font-size: 16px;	
            font-weight: normal;
        }
	.sortable td{
		font-size: 14px;
		font-family: verdana;
	}
	.no_border_search_table{
		font-size: 14px;
		font-family: verdana;		
	}
	.no_border{
	  border:none;
	  border-collapse:collapse
	}

	#searchText{
	  padding:5px;
	}

	.iframeWelcome {
			font-size: 12px;
	}
	
	.loginTable p {
		font-size: 16px;
	}
	
	.loginTable td {
		font-size: 16px;
		padding: 10px
	}
	
	.settings {
		font-size: 16px;
		padding: 10px
	}
	
	.search_table td{
	  padding:5px;
	}
	#buttons{
	  border:none;
	  padding:4px 10px;
	  color:#fff;
	  background: #01A1FE;
	  font-size: 16px;
	  font-family: verdana;
	  cursor: pointer;
	}
	.panel {
	  background-color: white;
	  border: solid 1px black;
	  height: 500px;
	  padding: 5px;
	  position: relative;
	  width: 960px;
	  z-index: 0;
	}
	.tabs {
	  border-collapse: collapse;
	  color: black;
	  cursor: pointer;
	  cursor: hand;
	  font-family: arial;
	  font-size: 9pt;
	  font-weight: normal;
	  margin-top: 4px;
	  padding: 2px 4px 0px 4px;
	  position: relative;
	  text-align: center;
	  text-decoration: none;
	  z-index: 1;
	}
	.tabs0 {
	  background-color: white;
	  border: solid 1px black;
	}
	.tabs1 {
	  background-color: #01A1FE;
	  color: white;
	  border-color: black black white black;
	  border-style: solid solid solid solid;
	  border-width: 1px 1px 1px 1px;
	}
